/*
 * Copyright (c) 2018. David Feng
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
 *  files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy,
 *  modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 *  LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *  WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 *  SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

package com.bzcentre.dapiPush;

public final class dapiSecrets {

    private dapiSecrets() {
        //restrict instantiation.
    }

    // secrets for APNS
    public static final String APNs_AuthKey = "/usr/local/nginx/conf/ssl/APNsAuthKey_AA2Y6EC834.p8";
    public static final String myKeyID = "AA2Y6EC834";
    public static final String myBundleID = "com.bzcentre.dapiair";
    public static final String myTeamID = "N6XA74NS3S";

    // secrets for FCM
    public static final char[] JKS_PASSWORD = "20171230".toCharArray();
    public static final String FCM_AuthKey = "AAAAyumZhCg:APA91bHzZ8EcZDUl_6ZN00jLMfd38Tp7qDXNZIkz4lyTsa1G43F0r80wfjQeO8hH5s8wRQ3TvUbXyANap6RtppkC74evg82hRMasjpO5jHc77xfZ0JJA_vazWP1mNIUZu2f3i1sajxQ0";
    public static final String JAVA_TRUSTSTORE = "/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/security/cacerts";

    // secrets for dapiManager
    public static final String hoicoi_token = "fc1b268ccc95e15c646cd9886fc8ee4b43835044c98669d19765c852d229f."; // This should be the same as the hoicoi Api server/DapiAir sides seting
    public static final String service_seed = "dapiPush"; // This should be the same as the hoicoi Api server/DapiAir sides seting
    public static final String dbUsername = "dapiAir";
    public static final String dbPassword = "jjlaksi*uJle988.";
}
